.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 549px) {
  /*
   * Reduce logo and title size, proportionate with smaller screen size.
   * Remove horizontal margins, more space for hamburger icon on right.
   * Reduce vertical margins, less vertical scrolling on small screen.
   */
  .header__logo {
    height: 48px;
  }
  .header__title {
    font-size: 2em;

    /* Title height smaller than logo height. To center title vertically...*/
    line-height: 48px;
    /*
     * Alternatively (and more correctly), to use vertical-align on the <img>,
     * place it inside <h1>. Using this method with line-height so that our HTML
     * is as close as possible to that given by Udacity.
     * TODO: Correct this later.
     */
  }
  .header__logo, .header__title {
    margin: 2px 0;
  }

  /*
   * Hamburger icon, inconspicuous gray. Right of title.
   * Touch target for mobile must be 48px by 48px big.
   */
  .header__menu {
    display: inline-block;
    float: right;
    margin: 2px 0;
  }
  .header__menu svg.hamburger {
    width: 48px;
    height: 48px;
    fill: #e0e0e0;
  }

  /*
   * Menu to be vertical list, positioned on left of screen, front of all else.
   * Width 300px.
   */
  .nav {
    z-index: 10;
    background-color: #ffffff; /* Computed value is black. Best set this. */
    width: 300px;

    /* Default 'top' and 'left' as per 'static': right below header, and 0. */
    position: absolute;
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0; /* Separator. */
    width: 100%;
    text-align: left;
  }
}
